<?php

return [
    'url' => 'https://mechanicalturk.amazonaws.com',
    'AWSAcessKeyId' => '',
    'Service' => 'AWSMEchanicalTurkRequester',
    'Operation' => '',
    'Name' => '', 
    'Description' => '', 
    'Keywords' =>'',
    'QualificationTypeStatus' => 'Active', 
    'AutoGranted' => 'false'
];
